{{ template "layouts/header" . }}
<div class="page-header mb-4">
    <div class="row align-items-center">
        <div class="col">
            <h2 class="page-title">Edit Config for Virtual Resource</h2>
        </div>
    </div>
</div>

{{ with .Resource }}
<div class="card mb-3">
    <div class="card-body">
        <dl class="row mb-0">
            <dt class="col-5 text-secondary">ID</dt>
            <dd class="col-7">{{ .ID }}</dd>
            <dt class="col-5 text-secondary">Type</dt>
            <dd class="col-7">{{ .ResourceType }}</dd>
        </dl>
    </div>
</div>
{{ end }}

<div class="card mb-3">
    <div class="card-header">
        <h3 class="card-title">Configuration</h3>
    </div>
    <div class="card-body">
        <form action="/dashboard/jobs/resources/{{ .Resource.ID }}/configs" method="POST">
            {{ with .Config }}
            {{ with .Errors.Error }}
            <div class="alert alert-danger">{{ . }}</div>
            {{ end }}
            <div class="mb-3">
                {{ with .Errors.Name }}
                <div class="alert alert-danger">{{ . }}</div>
                {{ end }}
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" name="name" id="name"
                       value="{{ .Name }}" placeholder="config name">
            </div>
            <div class="mb-3">
                {{ with .Errors.value }}
                <div class="alert alert-danger">{{ . }}</div>
                {{ end }}
                <label for="value" class="form-label">Value</label>
                <input type="text" class="form-control" name="value" id="value" value="{{ .Value }}"
                       placeholder="config value">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Save Config</button>
            </div>
            {{end}}
        </form>
    </div>
</div>

{{ template "layouts/footer" }}
