<div class="mb-3">
    {{ with .Errors.Error }}
    <div class="alert alert-danger">{{ . }}</div>
    {{ end }}
</div>
<div class="mb-3">
    {{ with .Errors.ResourceType}}
    <div class="alert alert-danger">{{ . }}</div>
    {{ end }}
    <label for="resourceType" class="form-label">Resource Type</label>
    <input type="text" class="form-control" name="resourceType" id="resourceType"
           value="{{ .ResourceType }}" placeholder="resource type">
</div>
<div class="mb-3">
    {{ with .Errors.Quota }}
    <div class="alert alert-danger">{{ . }}</div>
    {{ end }}
    <label for="quota" class="form-label">Max Quota</label>
    <input type="text" class="form-control" name="quota" id="quota" value="{{ .Quota }}"
           placeholder="maximum quota">
</div>
<div class="mb-3">
    {{ with .Errors.Platform }}
    <div class="alert alert-danger">{{ . }}</div>
    {{ end }}
    <label for="platform" class="form-label">Platform</label>
    <input type="text" class="form-control" name="platform" id="platform" value="{{ .Platform }}"
           placeholder="optional platform of the resource">
</div>
<div class="mb-3">
    {{ with .Errors.Category }}
    <div class="alert alert-danger">{{ . }}</div>
    {{ end }}
    <label for="category" class="form-label">Category</label>
    <input type="text" class="form-control" name="category" id="category" value="{{ .Category }}"
           placeholder="optional category of the resource">
</div>
<div class="mb-3">
    {{ with .Errors.Tags }}
    <div class="alert alert-danger">{{ . }}</div>
    {{ end }}
    <label for="tags" class="form-label">Tags</label>
    <input type="text" class="form-control" name="tags" id="tags"
           value="{{ .Tags }}"
           placeholder="optional tags for matching the resource">
</div>
<div class="mb-3">
    {{ with .Errors.LeaseTimeout }}
    <div class="alert alert-danger">{{ . }}</div>
    {{ end }}
    <label for="leaseTimeout" class="form-label">Max Lease Timeout</label>
    <input type="text" class="form-control" name="leaseTimeout" id="leaseTimeout"
           value="{{ .LeaseTimeout}}"
           placeholder="lease timeout such as 1m, 5s to release resource">
</div>
<div class="mb-3">
    {{ with .Errors.ExternalID }}
    <div class="alert alert-danger">{{ . }}</div>
    {{ end }}
    <label for="externalID" class="form-label">External ID</label>
    <input type="text" class="form-control" name="externalID" id="externalID"
           value="{{ .ExternalID }}" placeholder="external-id optional">
</div>
