<div class="mb-3">
    {{ with .Request.Errors.Error }}
    <div class="alert alert-danger">{{ . }}</div>
    {{ end }}
</div>
<div class="mb-3">
    {{ with .Request.Errors.JobType}}
    <div class="alert alert-danger">{{ . }}</div>
    {{ end }}
    <label for="jobType" class="form-label">Job Type</label>
    <select class="form-select" id="jobType" name="jobType">
        {{range .JobTypes }}
        <option>{{.}}</option>
        {{end}}
    </select>
</div>
<div class="mb-3">
    {{ with .Request.Errors.Platform }}
    <div class="alert alert-danger">{{ . }}</div>
    {{ end }}
    <label for="platform" class="form-label">Platform</label>
    <input type="text" class="form-control" name="platform" id="platform" value="{{ .Request.Platform }}"
           placeholder="optional platform of the request">
</div>
<div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <input type="text" class="form-control" name="description" id="description" value="{{ .Request.Description }}"
           placeholder="Job description (supports [text](url) markdown links)">
</div>
<div class="mb-3">
    <label for="params" class="form-label">Params (JSON)</label>
    <textarea class="form-control font-monospace" name="params" id="params" rows="12"
              placeholder="JSON parameters">{{ .Request.ParamsJSON }}</textarea>
</div>
