{{ template "layouts/header" . }}
<div class="page-header mb-4">
    <div class="row align-items-center">
        <div class="col">
            <h2 class="page-title">Submit Job Request</h2>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <h3 class="card-title">Job Request Details</h3>
    </div>
    <div class="card-body">
        <form action="/dashboard/jobs/requests" method="POST">
            {{ template "jobs/req/form" Dict "Request" .Request "JobTypes" .JobTypes }}
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Submit Job Request</button>
            </div>
        </form>
    </div>
</div>
{{ template "layouts/footer" }}
