{{ template "layouts/header" . }}
<div class="page-header mb-4">
    <div class="row align-items-center">
        <div class="col">
            <h2 class="page-title">Historical Job Stats</h2>
        </div>
        <div class="col-auto d-flex gap-2 flex-wrap">
            <form action="/dashboard/jobs/requests/stats" method="GET" class="d-flex gap-2 align-items-center">
                <label for="from" class="form-label mb-0">From:</label>
                <input type="text" class="form-control form-control-sm" name="from" id="from" value="{{ .FromDate }}" placeholder="From date">
                <label for="to" class="form-label mb-0">To:</label>
                <input type="text" class="form-control form-control-sm" name="to" id="to" value="{{ .ToDate }}" placeholder="To date">
                <button type="submit" class="btn btn-primary btn-sm">Search</button>
            </form>
        </div>
    </div>
</div>

<div class="card">
    <div class="table-responsive">
        <table class="table table-vcenter table-hover table-sm card-table">
            <thead>
            <tr>
                <th>Job</th>
                <th>State</th>
                <th>Error Code</th>
                <th>Counts</th>
                <th>First Date</th>
                <th>Last Date</th>
            </tr>
            </thead>
            <tbody>
            {{range .Stats}}
            <tr>
                <td><a href="/dashboard/jobs/definitions/{{.JobType}}">{{.JobType}}</a></td>
                {{if .Completed }}
                <td><span class="badge badge-success">{{.JobState}}</span></td>
                {{end}}
                {{if .Failed }}
                <td><span class="badge badge-failed">{{.JobState}}</span></td>
                {{end}}
                {{if .NotTerminal }}
                <td><span class="badge badge-pending">{{.JobState}}</span></td>
                {{end}}
                <td>{{.ErrorCode}}</td>
                <td>{{.Counts}}</td>
                <td>{{.GetStartTimeString}}</td>
                <td>{{.GetEndTimeString}}</td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div>
{{ template "layouts/footer" }}
