{{ template "layouts/anon_header" . }}
<div class="page-header mb-4">
    <div class="row align-items-center">
        <div class="col">
            <h2 class="page-title">Terms and Conditions</h2>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <h3>Formicary Website Terms and Conditions of Use</h3>

        <h4>1. Terms</h4>
        <p>By accessing this Website, accessible from formicary.io, you are agreeing to be bound by these Website Terms and Conditions of Use and agree that you are responsible for the agreement with any applicable local laws. If you disagree with any of these terms, you are prohibited from accessing this site. The materials contained in this Website are protected by copyright and trade mark law.</p>

        <h4>2. User Registration</h4>
        <ul>
            <li>Before you use our Websites and Services, you must ensure that such use is in compliance with all laws, rules and regulations applicable to you. Your right to access the Websites and Services is revoked to the extent your use thereof is prohibited or to the extent our provision thereof conflicts with any applicable law, rule or regulation. You are responsible for making these determinations before using the Websites and Services.</li>
            <li>The Websites and Services are not targeted towards, nor intended for use by, anyone under the age of 18. By using the Websites and Services, you represent and warrant to us that: (a) you are 18 years of age or older; or (b) you otherwise have sufficient legal consent, permission and capacity to use the Websites and Services in applicable jurisdiction(s) as determined by you.</li>
            <li>To access the Services and some features of the Websites, you must register for an account ("Account"). Account information, and our use and disclosure thereof, is subject to the <a href="privacy_policies">Privacy Policy and Data Processing Agreement</a>.</li>
            <li>We may, in our sole discretion, refuse to provide or continue providing the Websites and Services to any person or entity and change eligibility criteria at any time, including if you fail to comply with the TOS.</li>
        </ul>

        <h4>3. Ownership</h4>
        <ul>
            <li><strong>We Own the Services.</strong> The Services are the property of us and our licensors, and are protected by copyright, patent, trademark, trade secret and/or other intellectual property laws.</li>
            <li><strong>You Own Your Data.</strong> As between you and us, (a) Your Data is your property, and (b) you retain any and all rights, title and interest in and to Your Data. Our use of Your Data shall be limited to our providing the Services to you and your Users or as otherwise permitted under this Agreement.</li>
            <li><strong>We Need a Limited License to Your Data to Provide the Services.</strong> You hereby grant us, and our Affiliates and applicable contractors a worldwide, non-exclusive, royalty-free, fully paid, sublicensable license to receive, host, store, analyze, process, enhance, copy, transmit, create derivative works of, maintain and display Your Data to provide the Services in accordance with this Agreement.</li>
        </ul>

        <h4>4. Use License</h4>
        <p>Permission is granted to temporarily download one copy of the materials on formicary's Website for personal, non-commercial transitory viewing only. Under this license you may not:</p>
        <ul>
            <li>modify or copy the materials;</li>
            <li>use the materials for any commercial purpose or for any public display;</li>
            <li>attempt to reverse engineer any software contained on formicary's Website;</li>
            <li>remove any copyright or other proprietary notations from the materials; or</li>
            <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
        </ul>

        <h4>5. Disclaimer</h4>
        <p>All the materials on formicary's Website are provided "as is". formicary makes no warranties, may it be expressed or implied, therefore negates all other warranties. Furthermore, formicary does not make any representations concerning the accuracy or reliability of the use of the materials on its Website or otherwise relating to such materials or any sites linked to this Website.</p>

        <h4>6. Limitations</h4>
        <p>formicary or its suppliers will not be held accountable for any damages that will arise with the use or inability to use the materials on formicary's Website, even if formicary or an authorized representative of this Website has been notified, orally or written, of the possibility of such damage.</p>

        <h4>7. Indemnification</h4>
        <p>To the fullest extent permitted by law, you are responsible for your use of the data and services, and you shall defend, indemnify, and hold harmless us and our employees, officers, directors, agents, contractors, and representatives from all liabilities, claims, and expenses, including reasonable attorneys' fees and costs, that arise from or relate to your use of the data and services.</p>

        <h4>8. Revisions and Errata</h4>
        <p>The materials appearing on formicary's Website may include technical, typographical, or photographic errors. formicary will not promise that any of the materials in this Website are accurate, complete, or current. formicary may change the materials contained on its Website at any time without notice.</p>

        <h4>9. Links</h4>
        <p>The formicary has not reviewed all of the sites linked to its Website and is not responsible for the contents of any such linked site. The presence of any link does not imply endorsement by formicary of the site.</p>

        <h4>10. Site Terms of Use Modifications</h4>
        <p>The formicary may revise these Terms of Use for its Website at any time without prior notice. By using this Website, you are agreeing to be bound by the current version of these Terms and Conditions of Use.</p>

        <h4>11. Your Privacy</h4>
        <p>Please read our <a href="privacy_policies">Privacy Policy</a>.</p>

        <h4>12. Governing Law</h4>
        <p>Any claim related to formicary's Website shall be governed by the laws of us without regards to its conflict of law provisions.</p>
    </div>
</div>
{{ template "layouts/anon_footer" }}
