{{ template "layouts/header" . }}

<div class="page-header mb-4">
    <div class="row align-items-center">
        <div class="col">
            <h2 class="page-title">User Profile</h2>
        </div>
        <div class="col-auto">
            <a href="/dashboard/users/{{.User.ID}}/edit" class="btn btn-secondary btn-sm">
                <i class="ti ti-pencil"></i> Edit Profile
            </a>
        </div>
    </div>
</div>

<ul class="nav nav-tabs mb-3" id="userView" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile"
           aria-selected="true">Profile</a>
    </li>
    {{ with .Subscription }}
    <li class="nav-item">
        <a class="nav-link" id="subscription-tab" data-bs-toggle="tab" href="#subscription" role="tab"
           aria-controls="subscription" aria-selected="false">Subscription</a>
    </li>
    {{end}}
    <li class="nav-item">
        <a class="nav-link" id="resource-tab" data-bs-toggle="tab" href="#resource" role="tab" aria-controls="resource"
           aria-selected="false">Resources Usage</a>
    </li>
    {{ with .DBUser }}
    <li class="nav-item">
        <a class="nav-link" id="token-tab" data-bs-toggle="tab" href="#token" role="tab" aria-controls="token"
           aria-selected="false">API Tokens</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="notify-tab" data-bs-toggle="tab" href="#notify" role="tab" aria-controls="notify"
           aria-selected="false">Notification</a>
    </li>
    {{end}}
    {{if $.ReadAdmin}}
    <li class="nav-item">
        <a class="nav-link" id="permission-tab" data-bs-toggle="tab" href="#permission" role="tab"
           aria-controls="permission" aria-selected="false">Roles &amp; Permissions</a>
    </li>
    {{end}}
    {{if .User.HasOrganization}}
    <li class="nav-item">
        <a class="nav-link" id="invite-tab" href="/dashboard/orgs/{{.User.OrganizationID}}">Organization</a>
    </li>
    {{end}}
</ul>

<div class="tab-content" id="userViewContent">
    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="card mb-3">
            <div class="card-header">
                <h3 class="card-title">Profile Details</h3>
            </div>
            <div class="card-body">
                {{ with .User.StickyMessage }}
                <div class="alert alert-info">{{ . }}</div>
                {{ end }}
                <dl class="row">
                    {{ if .User.IsAdmin }}
                    <dt class="col-5 text-secondary">Roles</dt>
                    <dd class="col-7">{{ .User.RolesList }}</dd>
                    {{ end }}
                    <dt class="col-5 text-secondary">ID</dt>
                    <dd class="col-7">{{ .User.ID }}</dd>
                    <dt class="col-5 text-secondary">Username</dt>
                    <dd class="col-7">{{ .User.Username }}</dd>
                    <dt class="col-5 text-secondary">Name</dt>
                    <dd class="col-7">{{ .User.Name }}</dd>
                    <dt class="col-5 text-secondary">Email</dt>
                    <dd class="col-7">
                        {{ .User.Email }}
                        {{ if not .User.EmailVerified }}
                        <form action="/dashboard/users/{{.User.ID}}/create_verify_email" method="POST"
                              enctype="multipart/form-data" class="d-inline ms-2">
                            <input type="submit" class="btn btn-warning btn-sm" value="Verify Email">
                        </form>
                        {{ end }}
                    </dd>
                    {{ if .User.EmailVerified }}
                    <dt class="col-5 text-secondary">Email Verified</dt>
                    <dd class="col-7"><span class="badge badge-success">Yes</span></dd>
                    {{ end }}
                    {{if .User.HasOrganization}}
                    <dt class="col-5 text-secondary">Organization</dt>
                    <dd class="col-7"><a href="/dashboard/orgs/{{.User.OrganizationID}}">{{.User.OrganizationID}}</a></dd>
                    <dt class="col-5 text-secondary">Bundle</dt>
                    <dd class="col-7">{{ .User.BundleID }}</dd>
                    {{ end }}
                </dl>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="subscription" role="tabpanel" aria-labelledby="subscription-tab">
        {{ with .Subscription }}
        <div class="card mb-3">
            <div class="card-header">
                <h3 class="card-title">Subscription ({{$.PolicyRange}})</h3>
            </div>
            <div class="table-responsive">
                <table class="table table-vcenter table-sm card-table">
                    <thead>
                    <tr>
                        <th>Policy</th>
                        <th>Period</th>
                        <th>CPU Quota (secs)</th>
                        <th>Disk Quota (MiB)</th>
                        <th>Remaining CPU (secs)</th>
                        <th>Remaining Disk (MiB)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ .Policy }}</td>
                        <td>{{ .Period }}</td>
                        <td>{{ .CPUQuota }}</td>
                        <td>{{ .DiskQuota }}</td>
                        <td>{{ .RemainingCPUQuota }}</td>
                        <td>{{ .RemainingDiskQuota }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {{ end }}
    </div>

    <div class="tab-pane fade" id="resource" role="tabpanel" aria-labelledby="resource-tab">
        {{ with .ResourcesUsage }}
        <div class="card mb-3">
            <div class="card-header">
                <h3 class="card-title">Resources Usage</h3>
            </div>
            <div class="table-responsive">
                <table class="table table-vcenter table-sm card-table">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Today ({{$.TodayRange}})</th>
                        <th>Week ({{$.WeekRange}})</th>
                        {{if $.HasPolicyRange}}
                        <th>Subscription ({{$.PolicyRange}})</th>
                        {{else}}
                        <th>Month ({{$.MonthRange}})</th>
                        {{end}}
                    </tr>
                    </thead>
                    <tbody>
                    {{range .}}
                    <tr>
                        <td>{{ .Type }}</td>
                        <td>{{ .Today.ValueString }}</td>
                        <td>{{ .Week.ValueString }}</td>
                        <td>
                            {{if $.HasPolicyRange}}
                            {{ .Subscription.ValueString }}
                            {{else}}
                            {{ .Month.ValueString }}
                            {{end}}
                        </td>
                    </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
        {{ end }}
    </div>

    <div class="tab-pane fade" id="notify" role="tabpanel" aria-labelledby="notify-tab">
        {{ with .DBUser }}
        <div class="card mb-3">
            <div class="card-header">
                <h3 class="card-title">Job Notifications</h3>
            </div>
            <div class="card-body">
                <form action="/dashboard/users/{{.ID}}/notify" method="POST">
                    {{ with .Errors.Notify }}
                    <div class="alert alert-danger">{{ . }}</div>
                    {{ end }}
                    <div class="mb-3">
                        <label class="form-label" for="slackChannel">Slack Channel</label>
                        <input type="text" class="form-control" name="slackChannel" id="slackChannel"
                               value="{{ .NotifyChannel }}"
                               placeholder="your slack channel">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="slackToken">Slack Token</label>
                        <input type="password" class="form-control" name="slackToken" id="slackToken"
                               value="{{ $.SlackToken }}"
                               placeholder="your slack token to post chat messages">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="email">Email(s)</label>
                        <input type="text" class="form-control" name="email" id="email"
                               value="{{ .NotifyEmail }}"
                               placeholder="your emails separated by comma">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="when">When</label>
                        <select class="form-select" name="when" id="when">
                            <option value="never">Never</option>
                            {{if eq .NotifyWhen "always"}}
                            <option selected value="always">Always</option>
                            {{else}}
                            <option value="always">Always</option>
                            {{end}}
                            {{if eq .NotifyWhen "onSuccess"}}
                            <option selected value="onSuccess">On Success</option>
                            {{else}}
                            <option value="onSuccess">On Success</option>
                            {{end}}
                            {{if eq .NotifyWhen "onFailure"}}
                            <option selected value="onFailure">On Failure</option>
                            {{else}}
                            <option value="onFailure">On Failure</option>
                            {{end}}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">Update Notification Settings</button>
                </form>
                {{ range $.UnverifiedEmails}}
                <form action="/dashboard/users/{{$.User.ID}}/create_verify_email" method="POST"
                      enctype="multipart/form-data" class="mt-2">
                    <input type="submit" class="btn btn-secondary btn-sm" value="Verify {{.}}">
                    <input type="hidden" name="email" value="{{.}}">
                </form>
                {{ end }}
                <p class="text-secondary mt-3 small">
                    The Slack support requires an organization account and your Slack token will be saved as a
                    <a href="/dashboard/orgs/{{$.User.OrganizationID}}/configs">secret organization config</a>.
                    Email notifications will only be sent to verified email addresses.
                </p>
            </div>
        </div>
        {{end}}
    </div>

    <div class="tab-pane fade" id="token" role="tabpanel" aria-labelledby="token-tab">
        {{ with .DBUser }}
        <div class="card mb-3">
            <div class="card-header">
                <h3 class="card-title">API Tokens</h3>
                <div class="card-options">
                    <a href="/dashboard/users/{{.ID}}/tokens/new" class="btn btn-primary btn-sm">
                        <i class="ti ti-plus"></i> New API Token
                    </a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-vcenter table-sm card-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Created</th>
                        <th>Expires</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range $.Tokens}}
                    <tr>
                        <td>{{ .TokenName }}</td>
                        <td>{{ .CreatedAt }}</td>
                        <td>{{ .ExpiresAt }}</td>
                        <td>
                            <form action="/dashboard/users/{{.UserID}}/tokens/{{.ID}}/delete" method="POST"
                                  enctype="multipart/form-data"
                                  onsubmit="return confirm('Please confirm revoking this token(' + this['id'].value + ')?');">
                                <input type="submit" class="btn btn-danger btn-sm" value="Revoke">
                                <input type="hidden" name="id" value="{{.TokenName}}">
                            </form>
                        </td>
                    </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
        {{end}}
    </div>

    <div class="tab-pane fade" id="permission" role="tabpanel" aria-labelledby="permission-tab">
        {{if $.ReadAdmin}}
        <div class="card mb-3">
            <div class="card-header">
                <h3 class="card-title">Roles</h3>
            </div>
            <div class="table-responsive">
                <table class="table table-vcenter table-sm card-table">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Scope</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range .User.RolesList}}
                    <tr>
                        <td>{{ .RoleType }}</td>
                        <td>{{ .Scope }}</td>
                    </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                <h3 class="card-title">Permissions</h3>
            </div>
            <div class="table-responsive">
                <table class="table table-vcenter table-sm card-table">
                    <thead>
                    <tr>
                        <th>Resource</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range .User.PermissionList}}
                    {{ if .NotEmpty }}
                    <tr>
                        <td>{{ .Resource }}</td>
                        <td>{{ .LongAction }}</td>
                    </tr>
                    {{ end }}
                    {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
        {{end}}
    </div>
</div>

{{ template "layouts/footer" }}
