{{ template "layouts/header" . }}

<ul class="nav nav-tabs" id="userView" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
           aria-selected="true">Profile</a>
    </li>
    {{ with .Subscription }}
    <li class="nav-item">
        <a class="nav-link" id="subscription-tab" data-toggle="tab" href="#subscription" role="tab"
           aria-controls="subscription" aria-selected="false">Subscription</a>
    </li>
    {{end}}
    <li class="nav-item">
        <a class="nav-link" id="resource-tab" data-toggle="tab" href="#resource" role="tab" aria-controls="resource"
           aria-selected="false">Resources Usage</a>
    </li>
    {{ with .DBUser }}
    <li class="nav-item">
        <a class="nav-link" id="token-tab" data-toggle="tab" href="#token" role="tab" aria-controls="token"
           aria-selected="false">API Tokens</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="notify-tab" data-toggle="tab" href="#notify" role="tab" aria-controls="notify"
           aria-selected="false">Notification</a>
    </li>
    {{end}}
    {{if .Admin}}
    <li class="nav-item">
        <a class="nav-link" id="permission-tab" data-toggle="tab" href="#permission" role="tab"
           aria-controls="permission" aria-selected="false">Permissions</a>
    </li>
    {{end}}
</ul>

<div class="tab-content" id="userViewContent">
    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <section class="group">
            <header class="group-header">
                <h4 class="group-title">User Profile</h4>
            </header>
            <div class="form-group">
                <p class="error" align="center">{{ .User.StickyMessage }}</p>
            </div>

            <div align="right">
                <a href="/dashboard/users/{{.User.ID}}/edit">Edit Profile</a>
            </div>
            {{ if .User.Admin }}
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2 col-form-label">Admin: </label>
                    <div class="col-sm-10">
                        <b>{{ .User.Admin }}</b>
                    </div>
                </div>
            </div>
            {{ end }}

            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2 col-form-label">ID: </label>
                    <div class="col-sm-10">
                        <b>{{ .User.ID }}</b>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2 col-form-label">Username: </label>
                    <div class="col-sm-10">
                        <b>{{ .User.Username }}</b>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2 col-form-label">Name: </label>
                    <div class="col-sm-10">
                        <b>{{ .User.Name }}</b>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2 col-form-label">Email: </label>
                    <div class="col-sm-10">
                        <b>{{ .User.Email }}</b>
                        {{ if not .User.EmailVerified }}
                        <form action="/dashboard/users/{{.User.ID}}/create_verify_email" method="POST"
                              enctype="multipart/form-data">
                            <input type="submit" class="btn btn-primary" value="Verify Email">
                        </form>
                        {{ end }}
                    </div>
                </div>
            </div>

            {{ if .User.EmailVerified }}
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2 col-form-label">Email Verified: </label>
                    <div class="col-sm-10">
                        <b>{{ .User.EmailVerified }}</b>
                    </div>
                </div>
            </div>
            {{ end }}

            {{if .User.HasOrganization}}
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2 col-form-label">Organization: </label>
                    <div class="col-sm-10">
                        <a href="/dashboard/orgs/{{.User.OrganizationID}}">{{.User.OrganizationID}}</a>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2 col-form-label">Bundle: </label>
                    <div class="col-sm-10">
                        <b>{{ .User.BundleID }}</b>
                    </div>
                </div>
            </div>
            {{ end }}
        </section>
    </div>
    <div class="tab-pane fade" id="subscription" role="tabpanel" aria-labelledby="subscription-tab">
        <section class="group">
            {{ with .Subscription }}
            <header class="group-header">
                <h4 class="group-title">Subscription ({{$.PolicyRange}})</h4>
            </header>
            <div class="table-responsive">
                <table class="table table-sm table-border">
                    <thead class="thead-dark">
                    <tr>
                        <th class="col-sm-1">Policy</th>
                        <th class="col-sm-1">Period</th>
                        <th class="col-sm-1">CPU Quota (secs)</th>
                        <th class="col-sm-1">Disk Quota (MiB)</th>
                        <th class="col-sm-1">Remaining CPU Quota (secs)</th>
                        <th class="col-sm-1">Remaining Disk Quota (MiB)</th>
                    </tr>
                    </thead>
                    <tr scope="row">
                        <td>
                            <dt class="col-sm-1"><b>{{ .Policy }}:</b></dt>
                        </td>
                        <td>
                            <dd class="col-sm-1">{{ .Period }}</dd>
                        </td>
                        <td>
                            <dd class="col-sm-1">{{ .CPUQuota }}</dd>
                        </td>
                        <td>
                            <dd class="col-sm-1">{{ .DiskQuota }}</dd>
                        </td>
                        <td>
                            <dd class="col-sm-1">{{ .RemainingCPUQuota }}</dd>
                        </td>
                        <td>
                            <dd class="col-sm-1">{{ .RemainingDiskQuota }}</dd>
                        </td>
                    </tr>
                </table>
            </div>
            {{ end }}
        </section>
    </div>
    <div class="tab-pane fade" id="resource" role="tabpanel" aria-labelledby="resource-tab">
        <section class="group">
            {{ with .ResourcesUsage }}
            <header class="group-header">
                <h4 class="group-title">Resources Usage</h4>
            </header>
            <div class="table-responsive">
                <table class="table table-sm table-border">
                    <thead class="thead-dark">
                    <tr>
                        <th class="col-sm-2">Type</th>
                        <th class="col-sm-2">Today ({{$.TodayRange}})</th>
                        <th class="col-sm-2">Week ({{$.WeekRange}})</th>
                        {{if $.HasPolicyRange}}
                        <th class="col-sm-2">Subscription ({{$.PolicyRange}})</th>
                        {{else}}
                        <th class="col-sm-2">Month ({{$.MonthRange}})</th>
                        {{end}}
                    </tr>
                    </thead>
                    {{range .}}
                    <tr scope="row">
                        <td>
                            <dt class="col-sm-2"><b>{{ .Type }}:</b></dt>
                        </td>
                        <td>
                            <dd class="col-sm-1">{{ .Today.ValueString }}</dd>
                        </td>
                        <td>
                            <dd class="col-sm-1">{{ .Week.ValueString }}</dd>
                        </td>
                        <td>
                            {{if $.HasPolicyRange}}
                            <dd class="col-sm-2">{{ .Subscription.ValueString }}</dd>
                            {{else}}
                            <dd class="col-sm-2">{{ .Month.ValueString }}</dd>
                            {{end}}
                        </td>
                    </tr>
                    {{ end }}
                </table>
            </div>
            {{ end }}
        </section>
    </div>
    <div class="tab-pane fade" id="notify" role="tabpanel" aria-labelledby="token-tab">
        <section class="group">
            {{ with .DBUser }}
            <header class="group-header">
                <h4 class="group-title">Job Notifications</h4>
            </header>
            <form action="/dashboard/users/{{.ID}}/notify" method="POST">
                <div class="form-group">
                    {{ with .Errors.Notify }}
                    <p class="error" align="center">{{ . }}</p>
                    {{ end }}
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-2 col-form-label">Slack Channel: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control col-sm-6" name="slackChannel" id="slackChannel"
                                   value="{{ .NotifyChannel }}"
                                   placeholder="your slack channel">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-2 col-form-label">Email(s): </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control col-sm-6" name="email" id="email"
                                   value="{{ .NotifyEmail }}"
                                   placeholder="your emails separated by comma">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-2 col-form-label">When: </label>
                        <div class="col-sm-5">
                            <select class="browser-default custom-select" name="when">
                                <option value="never">Never</option>
                                {{if eq .NotifyWhen "always"}}
                                <option selected value="always">Always</option>
                                {{else}}
                                <option value="always">Always</option>
                                {{end}}
                                {{if eq .NotifyWhen "onSuccess"}}
                                <option selected value="onSuccess">On Success</option>
                                {{else}}
                                <option value="onSuccess">On Success</option>
                                {{end}}
                                {{if eq .NotifyWhen "onFailure"}}
                                <option selected value="onFailure">On Failure</option>
                                {{else}}
                                <option value="onFailure">On Failure</option>
                                {{end}}
                            </select>
                        </div>
                    </div>
                </div>

                <input type="submit" class="btn btn-primary" value="Update Notification Settings">
            </form>
            <div class="form-group col text-center">
                {{ range $.UnverifiedEmails}}
                &nbsp;
                <form action="/dashboard/users/{{$.User.ID}}/create_verify_email" method="POST"
                      enctype="multipart/form-data">
                    <input type="submit" class="btn btn-secondary" value="Verify {{.}}">
                    <input type="hidden" name="email" value="{{.}}">
                </form>
                {{ end }}
            </div>
            <b>Note:</b><i>Slack messages require that you add an organization config for <b>SlackToken</b>.
            Email notifications will only be sent to the verified email addresses.</i>
            {{end}}
        </section>
    </div>
    <div class="tab-pane fade" id="token" role="tabpanel" aria-labelledby="token-tab">
        <section class="group">
            {{ with .DBUser }}
            <header class="group-header">
                <h4 class="group-title">API Tokens</h4>
            </header>
            <div align="right">
                <a href="/dashboard/users/{{.ID}}/tokens/new">New API Token</a>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-border">
                    <thead class="thead-dark">
                    <tr>
                        <th class="col-sm-2">Name</th>
                        <th class="col-sm-2">Created</th>
                        <th class="col-sm-2">Expires</th>
                        <th class="col-sm-2">Actions</th>
                    </tr>
                    </thead>
                    {{range $.Tokens}}
                    <tr scope="row">
                        <td>
                            <dt class="col-sm-2"><b>{{ .TokenName }}:</b></dt>
                        </td>
                        <td>
                            <dd class="col-sm-2">{{ .CreatedAt }}</dd>
                        </td>
                        <td>
                            <dd class="col-sm-2">{{ .ExpiresAt }}</dd>
                        </td>
                        <td class="group row col-sm-2">
                            <form action="/dashboard/users/{{.UserID}}/tokens/{{.ID}}/delete" method="POST"
                                  enctype="multipart/form-data"
                                  onsubmit="return confirm('Please confirm revoking this token(' + this['id'].value + ')?');">
                                <input type="submit" class="btn btn-danger" value="Delete">
                                <input type="hidden" name="id" value="{{.TokenName}}">
                            </form>
                        </td>
                    </tr>
                    {{ end }}
                </table>
            </div>
            {{end}}
        </section>
    </div>
    <div class="tab-pane fade" id="permission" role="tabpanel" aria-labelledby="permission-tab">
        <section class="group">
            {{if .Admin}}
            <header class="group-header">
                <h4 class="group-title">Permissions</h4>
            </header>
            <div class="table-responsive">
                <table class="table table-sm table-border">
                    <thead class="thead-dark">
                    <tr>
                        <th class="col-sm-2">Resource</th>
                        <th class="col-sm-4">Actions</th>
                    </tr>
                    </thead>
                    {{range .User.PermissionList}}
                    {{ if .NotEmpty }}
                    <tr scope="row">
                        <td class="col-sm-2">
                            <dt class="col-sm-2"><b>{{ .Resource }}:</b></dt>
                        </td>
                        <td class="col-sm-4">
                            <dd class="col-sm-4">{{ .LongAction }}</dd>
                        </td>
                    </tr>
                    {{ end }}
                    {{ end }}
                </table>
            </div>
            {{end}}
        </section>
    </div>
</div>

<footer class="group-footer">
</footer>
{{ template "layouts/footer" }}
