{{ template "layouts/header" . }}
<section class="group">
    <header class="group-header">
        <h4 class="group-title">Edit Error Code</h4>
    </header>
    <form action="/dashboard/errors/{{ .Error.ID }}" method="POST">
    {{ template "errors/form" .Error }}
        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary">Update Error Code</button>
            </div>
        </div>
    </form>

    <footer class="group-footer">
    </footer>

</section>
{{ template "layouts/footer" }}
