<div class="mb-3">
    {{ with .Errors.Error }}
    <div class="alert alert-danger">{{ . }}</div>
    {{ end }}
</div>
<div class="mb-3">
    {{ with .Errors.JobType}}
    <div class="alert alert-danger">{{ . }}</div>
    {{ end }}
    <label for="jobType" class="form-label">Job Type</label>
    <input type="text" class="form-control" name="jobType" id="jobType"
           value="{{ .JobType }}" placeholder="job type">
</div>
<div class="mb-3">
    {{ with .Errors.Regex}}
    <div class="alert alert-danger">{{ . }}</div>
    {{ end }}
    <label for="regex" class="form-label">Regex</label>
    <input type="text" class="form-control" name="regex" id="regex"
           value="{{ .Regex }}" placeholder="regex to match">
</div>
<div class="mb-3">
    {{ with .Errors.Command}}
    <div class="alert alert-danger">{{ . }}</div>
    {{ end }}
    <label for="command" class="form-label">Command</label>
    <input type="text" class="form-control" name="command" id="command"
           value="{{ .CommandScope }}" placeholder="command pattern">
</div>
<div class="mb-3">
    {{ with .Errors.ExitCode }}
    <div class="alert alert-danger">{{ . }}</div>
    {{ end }}
    <label for="exitCode" class="form-label">Exit Code</label>
    <input type="text" class="form-control" name="exitCode" id="exitCode" value="{{ .ExitCode }}"
           placeholder="exit-code to match for the error">
</div>
<div class="mb-3">
    {{ with .Errors.ErrorCode }}
    <div class="alert alert-danger">{{ . }}</div>
    {{ end }}
    <label for="errorCode" class="form-label">Error Code</label>
    <input type="text" class="form-control" name="errorCode" id="errorCode" value="{{ .ErrorCode }}"
           placeholder="error code to display">
</div>
