{{ template "layouts/header" . }}

<div class="page-header mb-4">
    <div class="row align-items-center">
        <div class="col">
            <h2 class="page-title">Error Code</h2>
        </div>
        {{ with .Error }}
        <div class="col-auto">
            <a href="/dashboard/errors/{{.ID}}/edit" class="btn btn-secondary btn-sm">
                <i class="ti ti-pencil"></i> Edit
            </a>
        </div>
        {{ end }}
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        {{ with .Error }}
        <dl class="row">
            <dt class="col-5 text-secondary">ID</dt>
            <dd class="col-7">{{ .ID }}</dd>
            <dt class="col-5 text-secondary">Regex</dt>
            <dd class="col-7">{{ .Regex }}</dd>
            <dt class="col-5 text-secondary">Exit Code</dt>
            <dd class="col-7">{{ .ExitCode }}</dd>
            <dt class="col-5 text-secondary">Error Code</dt>
            <dd class="col-7">{{ .ErrorCode }}</dd>
        </dl>
        {{ end }}
    </div>
</div>

{{ template "layouts/footer" }}
