{{ template "layouts/header" . }}

<div class="page-header mb-4">
    <div class="row align-items-center">
        <div class="col">
            <h2 class="page-title">Job Configuration</h2>
        </div>
        {{ with .Config }}
        <div class="col-auto">
            <a href="/dashboard/jobs/definitions/{{.JobDefinitionID}}/configs/{{.ID}}/edit" class="btn btn-secondary btn-sm">
                <i class="ti ti-pencil"></i> Edit
            </a>
        </div>
        {{ end }}
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        {{ with .Config }}
        <dl class="row">
            <dt class="col-5 text-secondary">ID</dt>
            <dd class="col-7">{{ .ID }}</dd>
            <dt class="col-5 text-secondary">Name</dt>
            <dd class="col-7">{{ .Name }}</dd>
            <dt class="col-5 text-secondary">Secret</dt>
            <dd class="col-7">{{ .Secret }}</dd>
            <dt class="col-5 text-secondary">Value</dt>
            <dd class="col-7"><textarea class="form-control font-monospace" rows="3" readonly>{{ .Value }}</textarea></dd>
        </dl>
        {{ end }}
    </div>
</div>

{{ template "layouts/footer" }}
