    </div><!-- /container-xl -->
  </div><!-- /page-wrapper -->
</div><!-- /wrapper -->

<script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta21/dist/js/tabler.min.js"></script>
<script src="/js/ansi_colors.js"></script>
<script src="/js/approval.js"></script>
<script>
function load_logs(btn, logs, url) {
  document.getElementById(btn).hidden = true;
  var logsRef = document.getElementById(logs);
  logsRef.hidden = true;
  fetch(url).then(function(r){ return r.text(); }).then(function(data) {
    logsRef.textContent = data;
    logsRef.hidden = false;
    logsRef.focus();
  });
}
</script>
</body>
</html>
