{{ template "layouts/header" . }}
<div class="page-header mb-4">
    <div class="row align-items-center">
        <div class="col">
            <h2 class="page-title">Edit Organization Configuration</h2>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <h3 class="card-title">Configuration Details</h3>
    </div>
    <div class="card-body">
        <form action="/dashboard/orgs/{{.DBUser.OrganizationID}}/configs/{{ .Config.ID }}" method="POST">
            {{ template "orgs/configs/form" .Config }}
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Update Org Config</button>
            </div>
        </form>
    </div>
</div>
{{ template "layouts/footer" }}
