<div class="card mb-3">
    <div class="card-header">
        <h3 class="card-title">Available Ants</h3>
    </div>
    {{ with .AllocationError }}
    <div class="card-body">
        <div class="alert alert-danger">{{ . }}</div>
    </div>
    {{ end }}
    {{ with .Allocations }}
    <div class="table-responsive">
        <table class="table table-vcenter table-sm card-table">
            <thead>
            <tr>
                <th>Task</th>
                <th>Ant ID</th>
                <th>Connected At</th>
                <th>Load</th>
            </tr>
            </thead>
            <tbody>
            {{ range . }}
            <tr>
                <td>{{ .TaskType }}</td>
                <td>{{ .AntID }}</td>
                <td>{{ .AllocatedAtString }}</td>
                <td>{{ .CurrentLoad }}</td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
    {{ end }}
</div>
