{{ template "layouts/header" . }}
<div class="page-header mb-4">
    <div class="row align-items-center">
        <div class="col">
            <h2 class="page-title">Edit Job Definition</h2>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <h3 class="card-title">Job Definition YAML</h3>
    </div>
    <div class="card-body">
        <form action="/dashboard/jobs/definitions" method="POST">
            {{ template "jobs/def/form" .Job }}
            <div class="mb-3">
                {{if .Job.PublicPlugin}}
                <button type="submit" class="btn btn-primary">Save Job Plugin</button>
                {{else}}
                <button type="submit" class="btn btn-primary">Save Job Definition</button>
                {{end}}
            </div>
        </form>
    </div>
</div>
{{ template "layouts/footer" }}
