{{ template "layouts/header" . }}
<h3>Public Plugins</h3>
A plugin is a public job definition that can be invoked by other jobs. The plugin may define a variety of functionality
such as security testing, data analysis, etc. Though, A job definition can be shared by anyone in the organization but
public plugin allows you to define a job that can be shared by any other user. A plugin can be uploaded by an
organization by defining a job definition where the job-type begins with the organization bundle and it defines a semantic version
such as 1.0 or 1.2.1.

<form action="/dashboard/jobs/plugins" method="GET">
    <div class="form-group">
        <div class="form-group row">
            <input type="text" class="col-sm-3 form-control" name="q" id="q" value="{{ .Q }}" placeholder="Search public plugins">
            &nbsp;
            <button type="submit" class="col-sm-2 btn btn-primary">Search</button>
        </div>
    </div>
</form>

<div align="right">
    <form action="/dashboard/jobs/definitions/upload" method="POST" enctype="multipart/form-data">
        Load Files: <input type="file" name="files" multiple>
        <input type="submit" value="Upload Plugin">
    </form>
</div>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th class="col-sm-1">Plugin</th>
            <th class="col-sm-1">Version</th>
            <th class="col-sm-1">Methods</th>
            <th class="col-sm-1">Tags</th>
            {{if false}}
            <th class="col-sm-1">Tasks</th>
            {{end}}
            <th class="col-sm-1">Paused</th>
            <th class="col-sm-3">Actions</th>
        </tr>
        </thead>
        <tbody>
        {{range .Jobs}}
        <tr>
            <td class="col-sm-1"><a href="/dashboard/jobs/definitions/{{.ID}}">{{.JobType}}</a></td>
            <td class="col-sm-1">{{.SemVersion}}</td>
            <td class="col-sm-1">{{.Methods}}</td>
            <td class="col-sm-1">{{.Tags}}</td>
            {{if false}}
            <td class="col-sm-1">{{.TaskNames}}</td>
            {{end}}
            <td class="col-sm-1">{{.Paused}}</td>
            <td class="group row">
                <form action="/dashboard/jobs/definitions/{{.ID}}" method="GET">
                    <input type="submit" class="btn btn-primary" value="View">
                </form>
                &nbsp;
                <form action="/dashboard/jobs/requests/new" method="GET">
                    <input type="submit" class="btn btn-secondary " value="Submit">
                    <input type="hidden" name="jobType" value="{{.JobType}}">
                </form>
                &nbsp;
                {{ if .CanEdit }}
                <form action="/dashboard/jobs/definitions/{{.ID}}/delete" method="POST" enctype="multipart/form-data"
                      onsubmit="return confirm('Please confirm deleting this job definition (' + this['id'].value + ')?');">
                    <input type="submit" class="btn btn-danger" value="Delete">
                    <input type="hidden" name="id" value="{{.JobType}}">
                </form>
                {{end}}
            </td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>
{{ template "layouts/pagination" .Pagination }}
{{ template "layouts/footer" }}
