{{ template "layouts/header" . }}
<div class="page-header mb-4">
    <div class="row align-items-center">
        <div class="col">
            <h2 class="page-title">Latest Job Stats</h2>
            <div class="text-secondary mt-1">Range: {{.FromDate}} - {{.ToDate}}</div>
        </div>
    </div>
</div>

<div class="card">
    <div class="table-responsive">
        <table class="table table-vcenter table-hover table-sm card-table">
            <thead>
            <tr>
                <th>Job</th>
                <th>Ants Available</th>
                <th>Executing</th>
                <th>Succeeded</th>
                <th>Failed</th>
                <th>First Date</th>
                <th>Last Date</th>
            </tr>
            </thead>
            <tbody>
            {{range .Stats}}
            <tr>
                <td><a href="/dashboard/jobs/definitions/{{.JobKey.JobType}}">{{.JobKey.JobType}}</a></td>
                <td>{{.AntsAvailable}} {{.AntUnavailableError}}</td>
                <td>{{.ExecutingJobs}}</td>
                <td>
                    {{.SucceededJobs}}
                    {{if gt .SucceededJobs 0 }}
                    <div class="text-secondary small">Latency: Min={{.SucceededJobsMin}} Avg={{.SucceededJobsAverage}} Max={{.SucceededJobsMax}}</div>
                    {{end}}
                </td>
                <td>
                    {{.FailedJobs}}
                    {{if gt .FailedJobs 0 }}
                    <div class="text-secondary small">Latency: Min={{.FailedJobsMin}} Avg={{.FailedJobsAverage}} Max={{.FailedJobsMax}}</div>
                    {{end}}
                </td>
                <td>{{.FirstJobAtString}}</td>
                <td>{{.LastJobAtString}}</td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div>
{{ template "layouts/footer" }}
