<div class="mb-3">
    {{ with .Errors.Error }}
    <div class="alert alert-danger">{{ . }}</div>
    {{ end }}
</div>

<div class="mb-3">
    <label class="form-label">Username</label>
    <div class="form-control-plaintext"><strong>{{ .Username }}</strong></div>
</div>

<div class="mb-3">
    {{ with .Errors.OrgID }}
    <div class="alert alert-danger">{{ . }}</div>
    {{ end }}
    <label for="orgUnit" class="form-label">Organization <span class="text-secondary">(optional)</span></label>
    <input type="text" class="form-control" name="orgUnit" id="orgUnit" value="{{ .OrgUnit}}"
           placeholder="organization name">
</div>

<div class="mb-3">
    {{ with .Errors.BundleID }}
    <div class="alert alert-danger">{{ . }}</div>
    {{ end }}
    <label for="bundle" class="form-label">Bundle ID</label>
    <input type="text" class="form-control" name="bundle" id="bundle" value="{{ .BundleID }}"
           placeholder="e.g. com.plexobject or personal.myhandle">
    <div class="form-text">Use reverse domain of organization (e.g. <code>com.plexobject</code>) or a unique handle for individual accounts.</div>
</div>
