{{ template "layouts/header" . }}
<div class="page-header mb-4">
    <div class="row align-items-center">
        <div class="col">
            <h2 class="page-title">Usage Report</h2>
        </div>
        <div class="col-auto d-flex gap-2 flex-wrap">
            <form action="/dashboard/orgs/usage_report" method="GET" class="d-flex gap-2 align-items-center">
                <label for="from" class="form-label mb-0">From:</label>
                <input type="text" class="form-control form-control-sm" name="from" id="from" value="{{ .FromDate }}" placeholder="From date">
                <label for="to" class="form-label mb-0">To:</label>
                <input type="text" class="form-control form-control-sm" name="to" id="to" value="{{ .ToDate }}" placeholder="To date">
                <button type="submit" class="btn btn-primary btn-sm">Search</button>
            </form>
        </div>
    </div>
</div>

<div class="card">
    <div class="table-responsive">
        <table class="table table-vcenter table-hover table-sm card-table">
            <thead>
            <tr>
                <th>Organization</th>
                <th>User</th>
                <th>CPU</th>
                <th>Storage</th>
                <th># of Artifacts</th>
            </tr>
            </thead>
            <tbody>
            {{range .Records}}
            <tr>
                {{if .OrganizationID}}
                <td><a href="/dashboard/orgs/{{.OrganizationID}}">{{.OrganizationID}}</a></td>
                {{ else }}
                <td>{{.OrganizationID}}</td>
                {{ end }}
                {{if .UserID }}
                <td><a href="/dashboard/users/{{.UserID}}">{{.UserID}}</a></td>
                {{ else }}
                <td>{{.UserID}}</td>
                {{ end }}
                <td>{{.CPUResource.ValueString}}</td>
                <td>{{.DiskResource.ValueString}}</td>
                <td>{{.DiskResource.Count}}</td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div>
{{ template "layouts/footer" }}
