{{ template "layouts/header" . }}
<div class="page-header mb-4">
    <div class="row align-items-center">
        <div class="col">
            <h2 class="page-title">Invite User</h2>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <h3 class="card-title">Send Invitation</h3>
    </div>
    <div class="card-body">
        <form action="/dashboard/orgs/invite/{{.Invitation.OrganizationID}}" method="POST">
            {{ with .Invitation.Errors.Error }}
            <div class="alert alert-danger">{{ . }}</div>
            {{ end }}
            {{ with .Error }}
            <div class="alert alert-danger">{{ . }}</div>
            {{ end }}
            <div class="mb-3">
                {{ with .Invitation.Errors.Email }}
                <div class="alert alert-danger">{{ . }}</div>
                {{ end }}
                <label for="email" class="form-label">Email Address</label>
                <input type="text" class="form-control" name="email" id="email" value="{{ .Invitation.Email}}"
                       placeholder="invitee email address">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Send Invitation</button>
            </div>
        </form>
    </div>
</div>
{{ template "layouts/footer" }}
