{{ template "layouts/header" . }}
<div class="page-header mb-4">
    <div class="row align-items-center">
        <div class="col">
            <h2 class="page-title">Invitation Sent</h2>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <h3 class="card-title">Invitation Details</h3>
    </div>
    <div class="card-body">
        <div class="alert alert-success mb-3">
            <i class="ti ti-mail me-2"></i>
            Invitation has been sent to <strong>{{.Invitation.Email}}</strong> to join your organization.
        </div>
        <dl class="row">
            <dt class="col-5 text-secondary">Invitation Code</dt>
            <dd class="col-7">{{ .Invitation.InvitationCode }}</dd>
            <dt class="col-5 text-secondary">Sent</dt>
            <dd class="col-7">{{ .Invitation.CreatedAt }}</dd>
            <dt class="col-5 text-secondary">Expires</dt>
            <dd class="col-7">{{ .Invitation.ExpiresAt }}</dd>
            <dt class="col-5 text-secondary">Invited By</dt>
            <dd class="col-7">{{ .Invitation.InvitedByUserID }}</dd>
            <dt class="col-5 text-secondary">For Organization</dt>
            <dd class="col-7"><a href="/dashboard/orgs/{{.Invitation.OrganizationID}}">{{.Invitation.OrganizationID}}</a></dd>
            {{ with .Invitation.AcceptedAt }}
            <dt class="col-5 text-secondary">Accepted</dt>
            <dd class="col-7">{{ . }}</dd>
            {{ end }}
        </dl>
    </div>
</div>
{{ template "layouts/footer" }}
