{{ template "layouts/header" . }}
<section class="group">
    <header class="group-header">
        <h4 class="group-title">User Invited</h4>
    </header>

    Following invitation has been sent to {{.Invitation.Email}} to join your organization:

    <div class="form-group">
        <div class="row">
            <label class="col-sm-2 col-form-label">Invitation Code: </label>
            <div class="col-sm-10">
                <b>{{ .Invitation.InvitationCode }}</b>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <label class="col-sm-2 col-form-label">Sent: </label>
            <div class="col-sm-10">
                <b>{{ .Invitation.CreatedAt }}</b>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <label class="col-sm-2 col-form-label">Expires: </label>
            <div class="col-sm-10">
                <b>{{ .Invitation.ExpiresAt }}</b>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <label class="col-sm-2 col-form-label">By User: </label>
            <div class="col-sm-10">
                <b>{{ .Invitation.InvitedByUserID }}</b>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <label class="col-sm-2 col-form-label">For Organization: </label>
            <div class="col-sm-10">
                <a href="/dashboard/orgs/{{.Invitation.OrganizationID}}">{{.Invitation.OrganizationID}}</a>
            </div>
        </div>
    </div>

    {{ with .Invitation.AcceptedAt }}
    <div class="form-group">
        <div class="row">
            <label class="col-sm-2 col-form-label">Accepted: </label>
            <div class="col-sm-10">
                <b>{{ . }}</b>
            </div>
        </div>
    </div>
    {{ end  }}

    <footer class="group-footer">
    </footer>

</section>
{{ template "layouts/footer" }}
